@font-face {
    font-family: "Belligerent Madness";
    src: url("../fonts/belligerent-webfont.woff");
}

.header, footer, .card, .tableHeader {
    background-color: #F3EAF1;
}

.nav-link {
    color: #200D1E;
}

.main, .blocPanier, .commande, footer {
    margin-top: 20px;
}

h1 {
    font-family: "Belligerent Madness";
}

h2 {
    font-size: 1.3rem;
    text-align: center;
}

table {
    width: 100%;
}

.teddyLink {
    color: black;
}

.card {
    margin: 1rem 0;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.teddyPrice {
    font-size: 20px;
    font-weight: bold;
}

footer {
    padding: 10px;
}

/*PANIER*/
.btn {
    background: linear-gradient(to right, #e57e00, #945ce7);
    color: white;
}

@media (min-width: 992px) {
    .navbar-light .navbar-brand {
        padding: .5rem 10rem;
    }

    .navbar-expand-lg .navbar-collapse {
        padding-right: 5rem;
        font-size: 20px;
    }
}