@font-face {
    font-family: "Belligerent Madness";
    src: url("../fonts/belligerent-webfont.woff");
}

.header, footer, .card, .tableHeader, .product-bg {
    background-color: #F3EAF1;
}

.nav-link {
    color: #200D1E;
}

.main, .blocPanier, .commande {
    margin-top: 20px;
}

h1 {
    font-family: "Belligerent Madness";
}

h2 {
    font-size: 1.3rem;
    text-align: center;
}

table {
    width: 100%;
}

.galery {
    animation: 1.5s ease-in 0s reverse both slidein;}

.stretched-link {
    color: black;
    text-decoration: none;
}

.stretched-link:hover {
    color: black;
    text-decoration: none;
}

.card {
    margin: 1rem 0;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.card-title {
    font-size: 25px;
}

.teddyPrice, .teddyPrice-produit {
    font-size: 17px;
    font-weight: bold;
}

footer {
    bottom: 0;
}

/* KEYFRAME */
@keyframes slidein {
    0% {
        opacity: 1;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/*PANIER*/
.btn {
    background: linear-gradient(to right, #e57e00, #945ce7);
    color: white;
}


/* IPAD */


/* LARGE SCREEN */
@media (min-width: 992px) {
    .navbar-light .navbar-brand {
        padding: .5rem 10rem;
    }

    .navbar-expand-lg .navbar-collapse {
        padding-right: 5rem;
        font-size: 20px;
    }

    .teddyCharacteristics {
        padding-top: 50px;
    }

    .teddyName {
        font-size: 50px;
    }

    .teddyPrice-produit {
        font-size: 25px;
    }

    .teddyDescription {
        font-size: 20px;
        padding-top: 60px;
    }
}